{% include 'base/html-header.twig' %}

<body class="{{body_class}}">
{% block header %}
	{% include 'base/header.twig' %}
	<div class="container-fluid full-width">
		<h1 class="text-center page-header">{{title}}</h1>
	</div>
{% endblock %}
	
	<div class="container">
		<section id="content" role="main" class="content-wrapper">
			<div class="row">
			{% if sidebar %}
				{% if settings.sidebar_position == "left" %}
				<div class="col-md-3">{% include 'sidebar/sidebar.twig' %}</div>
				{% endif %}

				{% if settings.sidebar_position == "hide" %}
				<div class="col-md-8 col-md-offset-2">
				{% else %}
				<div class="col-md-9">
				{% endif %}
			{% else %}
				<div class="col-md-8 col-md-offset-2">
			{% endif %}
					{% block content %}
						Sorry, no content
					{% endblock %}
				</div>
			{% if sidebar %}
				{% if settings.sidebar_position == "right" %}
				<div class="col-md-3">{% include 'sidebar/sidebar.twig' %}</div>
				{% endif %}
			{% endif %}
			</div>
		</section>
		
		{% include "pagination.twig" %}
	</div>
	

	{% block footer %}
	  {% include 'base/footer.twig' %}
	  {{wp_footer}}
	{% endblock %}
</body>

</html>
