<li class="blog-comment media {{comment.comment_type}}" id="blog-comment-{{comment.ID}}">
  <blockquote class="pullquote">
    {{comment.comment_content|wpautop}}
    <p class="comment-author"><strong>&mdash; {{comment.author.name}}</strong></p> 
  </blockquote>
</li>